@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --tomato: hsl(4, 100%, 67%);

  --darkSlateGrey: hsl(234, 29%, 20%);
  --charcoalGrey: hsl(235, 18%, 26%);
  --grey: hsl(231, 7%, 60%);
  --white: hsl(0, 0%, 100%);
}

body {
  font-family: "Roboto", sans-serif;
  height: auto;
  display: flex;
  flex-direction: column;
}

.card {
  background-color: var(--white);
  height: 100vh;
  border-radius: 20px 20px;
  /* background-color: aqua; */
  display: flex;
  flex-direction: column;
  padding: 0px 0px;
}

/* Card-body-left */
.card-body-left {
  display: flex;
  flex-direction: column;
  align-items: none;
  padding: 0px 30px;
  /* background-color: bisque; */
  order: 2;
  text-align: start;
}

.card-body-left h1 {
  font-size: 40px;
  margin-top: 50px;
  /*   padding: 20px; */
}

.card-body-left h2 {
  font-size: 16px;
  margin-top: 20px;
  margin-left: 5px;
  margin-bottom: 20px;
  /* padding: 0px 30px 20px 60px; */
}

ul li {
  display: flex;
  /*   padding: 0px 30px 0px 60px; */
}

ul li p {
  margin: 10px 10px;
  font-size: 15px;
  font-weight: bold;
}

/* Card-body-right */
.card-body-right {
  padding: 0;
  margin-top: 0px;
  order: 1;
}

.card-body-right img {
  height: auto;
  width: 100%;
}

/* FORM  */

form {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 20px;
}

label {
  font-size: 14px;
  margin: 0px 0px;
  font-weight: bold;
}
input {
  border-radius: 8px;
  height: 3rem;
  margin: 10px 0px;
}

input:nth-child(2) {
  padding: 0px 0px 0px 20px;
  color: var(--grey);
  border: 1px solid var(--grey);
}
input:nth-child(3) {
  color: white;
  background-color: var(--darkSlateGrey);
  border: none;
  font-size: 16px;
}
input:nth-child(3):hover {
  color: white;
  background-color: var(--tomato);
  border: none;
}

/* Validation */
.invalid {
  background-color: hsla(4, 100%, 67%, 0.253);
  color: var(--tomato);
  border: 1px solid var(--tomato);
}

.label-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.label-form p {
  color: var(--tomato);
  font-size: 14px;
  font-weight: bold;
}

/* THANKS */

.thanks {
  background-color: white;
  height: 100vh;
  width: auto;
  padding: 100px 20px 0px 20px;
  display: flex;
  flex-direction: column;
  border-radius: 35px;
}

.thanks img {
  width: 60px;
  margin-bottom: 40px;
}
.thanks h1 {
  line-height: 40px;
  font-size: 40px;
  margin-bottom: 20px;
}
span {
  font-weight: bold;
}

.thanks p {
  font-size: 18px;
  line-height: 24px;
  color: black;
  margin-bottom: 180px;
}

button {
  background-color: var(--darkSlateGrey);
  color: white;
  width: 100%;
  height: 4rem;
  border-radius: 8px;
  border: none;
  font-size: 16px;
}
button:hover {
  background-color: var(--tomato);
}
/***************************************************************************/
@media only screen and (min-width: 768px ) {
  body {
    font-family: "Roboto", sans-serif;
    background-color: var(--charcoalGrey);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .card {
    background-color: var(--white);
    height: 35rem;
    width: 50rem;
    border-radius: 20px 20px;
    display: flex;
    flex-direction: row;
  }

  /* Card-body-left */
  .card-body-left {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 0px 50px;

    order: 1;
  }

  .card-body-left h1 {
    font-size: 50px;
    margin-top: 50px;
  }

  .card-body-left h2 {
    font-size: 13px;
    margin-top: 20px;
    margin-left: 5px;
    margin-bottom: 20px;
  }

  ul li {
    display: flex;
  }

  ul li p {
    margin: 10px 10px;
    font-size: 14px;
    font-weight: bold;
  }

  /* Card-body-right */
  .card-body-right {
    padding: 15px 20px 10px 0px;
    order: 2;
  }

  .card-body-right img {
    height: auto;
  }

  /* FORM  */

  form {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 20px;
  }

  label {
    font-size: 14px;
    margin: 10px 0px;
    font-weight: bold;
  }
  input {
    border-radius: 8px;
    height: 3rem;
    margin: 10px 0px;
  }

  input:nth-child(2) {
    padding: 10px;
  }
  input:nth-child(3) {
    color: white;
    background-color: var(--darkSlateGrey);
    border: none;
  }
  input:nth-child(3):hover {
    color: white;
    background-color: var(--tomato);
    border: none;
    box-shadow: 0px 5px 15px 2px var(--tomato);
  }

  /* THANKS */

  .thanks {
    background-color: white;
    height: 32.5rem;
    width: 31.5rem;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 35px;
  }

  .thanks img {
    width: 65px;
    margin-bottom: 0;
  }
  .thanks h1 {
    line-height: 55px;
    font-size: 55px;
    margin-bottom: 0;
  }
  span {
    font-weight: bold;
  }

  .thanks p {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0px;
  }

  button {
    background-color: var(--darkSlateGrey);
    color: white;
    width: 100%;
    height: 4rem;
    border-radius: 8px;
    border: none;
  }
  button:hover {
    background-color: var(--tomato);
    box-shadow: 0px 5px 15px 2px var(--tomato);
  }
  /* VALIDATION */
  .invalid {
    background-color: hsla(4, 100%, 67%, 0.253);
    color: var(--tomato);
    border: 1px solid var(--tomato);
  }

  .label-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .label-form p {
    color: var(--tomato);
    font-size: 14px;
    font-weight: bold;
  }
}
